.bgcolor-main
{
    background-color: #4e5fba;
}

.color-main
{
    color: #4e5fba;
}


.bgcolor-dark
{
    background-color: #1A237E;
}

.color-dark
{
    color: #1A237E;
}


.bgcolor-light
{
    background-color: #3F51B5;
}

.color-light
{
    color: #3F51B5;
}

.bgcolor-transparent
{
    background-color: rgba(255, 255, 255, 0.0);
}

.color-transparent
{
    color: rgba(255, 255, 255, 0.0);
}


.bgcolor-white-15
{
    background-color: rgba(255, 255, 255, 0.15);
}

.color-white-15
{
    color: rgba(255, 255, 255, 0.15);
}


.bgcolor-liberty
{
    background-color: #4E5FBA;
}

.color-liberty
{
    color: #4E5FBA;
}



.bgcolor-light-cyan
{
    background-color: #DEFFF2;
}

.color-light-cyan
{
    color: #DEFFF2;
}



.bgcolor-outer-space
{
    background-color: #464F51;
}

.color-outer-space
{
    color: #464F51;
}



.bgcolor-registration-black
{
    background-color: #000009;
}

.color-registration-black
{
    color: #000009;
}



.bgcolor-bright-turquoise
{
    background-color: #0FF4C6;
}

.color-bright-turquoise
{
    color: #0FF4C6;
}

