#card_1
{
}

#card_2
{
}

#card_3
{
}

#card_4
{
}

.selection-card
{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.selection-card:hover
{
    cursor: pointer;

    border: 3px solid rgba(255, 0, 100, 0.7);
}

.selection-card-active
{
    cursor: pointer;

    border: 3px solid rgba(255, 0, 100, 0.7);
}