body, html
{
  height: 100%;
  margin: 0;
}

.slider-container-div
{
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.slider-container-div:hover
{
  background-color: rgba(255, 255, 255, 0.90);
}

.slider-control
{
  -webkit-appearance: none;
  width: 70%;
  height: 20px;
  background: #D3D3D3;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.slider-control:hover
{
  opacity: 1;
}

.slider-control::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4e5fba;
  cursor: pointer;
}

.slider-control::-moz-range-thumb
{
  width: 25px;
  height: 25px;
  background: #4e5fba;
  cursor: pointer;
}

.side-panel-left
{
  width: 300px;
  height:600px;

  margin: 20px;

  float: right;
  opacity: 1.0;
}

.side-panel-right
{
  margin: 20px;

  float: right;
}

.side-panel-footer
{
  position: relative;
  bottom: 0px;
}

.side-panel
{
  font-size: 1rem;
}

.side-panel-heading,
.side-panel-tabs,
.side-panel-block,
.side-panel-block-div
{
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.side-panel-block-no-border
{
  border: 0px;
}

.side-panel-heading:first-child,
.side-panel-tabs:first-child,
.side-panel-block:first-child,
.side-panel-block-div:first-child
{
  border-top: 1px solid #dbdbdb;
}

.side-panel-heading
{
  border-radius: 3px 3px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

.side-panel-tabs
{
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-panel-tabs a
{
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: -1px;
  padding: 0.5em;
}

.side-panel-tabs a.is-active
{
  border-bottom-color: #4a4a4a;
  color: #363636;
}

.side-panel-list a
{
  color: #4a4a4a;
}

.side-panel-list a:hover
{
  color: #3273dc;
}

.side-panel-block,
.side-panel-block-no-border
{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5em 0.75em;
}

.side-panel-block input[type="checkbox"],
.side-panel-block-no-border input[type="checkbox"]
{
  margin-right: 0.75em;
}

.side-panel-block > .control,
.side-panel-block-no-border > .control
{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
}

.side-panel-block.is-wrapped,
.side-panel-block-no-border.is-wrapped
{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-panel-block.is-active,
.side-panel-block-no-border.is-active
{
  border-left-color: #3273dc;
  color: #363636;
}

.side-panel-block.is-active .side-panel-icon,
.side-panel-block-no-border.is-active .side-panel-icon
{
  color: #3273dc;
}

a.side-panel-block,
a.side-panel-block-no-border,
label.side-panel-block,
label.side-panel-block-no-border
{
  cursor: pointer;
}

a.side-panel-block:hover,
a.side-panel-block-no-border:hover,
label.side-panel-block:hover,
label.side-panel-block-no-border:hover
{
  background-color: whitesmoke;
}

.side-panel-icon
{
  display: inline-block;
  font-size: 14px;
  height: 1em;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
  width: 1em;
  color: #7a7a7a;
  margin-right: 0.75em;
}

.side-panel-icon .fa
{
  font-size: inherit;
  line-height: inherit;
}